*{

  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  font-family: 'montseratt',sans-serif;
  background-color: rgb(152, 230, 182);
  
}

.App{

  
 min-height: 100vh;
  margin-top: 10px;
}

.recipe-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{

  border: none;
  outline: none;
  width: 500px;
  height: 30px;
  padding-left: 20px;
  color:#313131;
  transition: 0.4s ease;
  font-weight: 200;
  margin-bottom: 40px;
  
}
.search-btn{

  border: none;
  background: none;
  appearance: none;
  outline: none;
  margin-bottom: 40px;
  
  width: 70px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(233, 111, 111);
  color: white;
  font-size:  13px;
  font-weight: 100;
  
}

.search-btn:hover{
  background-color: rgb(150, 93, 93);
}

.main-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1{
  font-style: italic;
}

.heading-div{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  

}
.heading{
 
  color: rgb(14, 82, 65);
  font-weight: 500;
  

}
.recipe-container{
  
  width: 650px;
  height : 690px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  margin-bottom: 50px;
  font-weight: 100;
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

p{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recipe-container ol{
  margin-left: 30px;

}

img{

  border-radius:1%;
  width: 300px;
  height: 300px;

}